* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
    margin: 0;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    background-color: #171717; 
    color: #fff;
    overflow-x: clip;
    z-index: -10000;
}

/* 1. Header */
:root {
    --text-gray: #ccc;
    --border-color: rgba(255, 255, 255, 0.1);
}

.main-header {
    position: relative;
    position: sticky;
    width: 100%;
    top: -60px;
    z-index: 1000;
    background-color: transparent;

}

/* --- 상단 바 (Top Bar) --- */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.left-group { display: flex; align-items: center; gap: 20px; }

/* 햄버거 메뉴 */
.hamburger-menu {
    width: 20px; 
    height: 18px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    cursor: pointer; 
    position: relative;
}
.hamburger-menu span {
    display: block; 
    height: 2px; width: 100%;
    background-color: #fff; 
    border-radius: 2px;
    transform-origin: right center; 
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hamburger-menu:hover span:nth-child(1) { 
    transform: rotate(45deg) scaleX(0.7) translateY(6px) translateX(8px); 
}
.hamburger-menu:hover span:nth-child(2) { 
    transform: rotate(180deg); 
    transform-origin: center; 
}
.hamburger-menu:hover span:nth-child(3) { 
    transform: rotate(-45deg) scaleX(0.7) translateY(-6px) translateX(8px); 
}

.logo { 
    /* 클릭 영역을 확보하기 위해 블록 요소로 변경 */
    display: block; 
    cursor: pointer;
    background-image: url(https://fizz-download.playnccdn.com/download/v2/buckets/conti-upload/files/196c7011305-f0c28862-ef32-4a1f-9d47-529292b0c46b);
    width: 58px;
    height: 46px;
    margin-top: 5px !important;
    
    /* 텍스트 숨기기 설정 */
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    
    /* 배경 이미지 설정 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    /* 링크 기본 밑줄 제거 */
    text-decoration: none;
}
.user-menu { font-size: 13px; color: var(--text-gray); }
.user-menu a { color: inherit; text-decoration: none; transition: 0.3s; }
.user-menu a:hover { color: #fff; }
.divider { margin: 0 10px; color: #444; }

/* 2. 하단 네비게이션: 항상 화면 상단에 고정 */
.header-bottom { 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 60px; 
    padding-left: 30px;
    width: 100%;
    z-index: 1100;
    background-size: 100vw 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    /* 상단 바가 있을 때는 그 아래에 위치하도록 밀어주기 */
    transition: transform 0.3s;
}
.main-menu { 
    display: flex; 
    list-style: none;
    margin: 0 8px 0 20px;
    padding-top: 15px;
    height: 60px;
    flex-wrap: wrap;
    gap: 45px;
}
.main-menu li a {
    text-decoration: none;
    color: #eee; 
    font-size: 15px; 
    font-weight: 500; 
    transition: color 0.2s; 
}
.main-menu:hover li a {
    color: rgba(255, 255, 255, 0.3); /* 다른 메뉴들이 흐려짐 */
}


.main-menu li a:hover {
    opacity: 1;
    color: #fff
}

/* 다운로드 버튼 */
.download-container {
    float: right;
    margin-top: -1px;
    position: relative;
    z-index: 2;
}
@media (min-width: 960px) {
    .download-container {
        display: block;
    }
}
.download-btn {
    position: relative;

}
.download-platform {
    background-image: url(../images/befor다운로드.png);
    background-color: transparent !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 190px 58px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 58px;
    position: relative;
    transition: background-image .3s ease-out;
    width: 190px;
    z-index: 0;
}
.download-platform:hover { 
    background-image: url(../images/after다운로드.png);
}
.download-btn-text {
    text-align: start;
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}


.container{
    position: relative;
}
/* 2. Hero Section */

.trailer {
    position: relative; 
    overflow: hidden;
    background-color: #000;
    top: -110px;
}
@media (min-width: 960px) {
    .trailer {
        height: 1130px;
    }
}
.trailer__visual {
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trailer__visual-mask {
    display: block;
    background: linear-gradient(180deg, rgba(0, 15, 36, 0) 49.17%, rgba(7, 19, 40, 0.9) 96.9%), rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 5;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.trailer-content { 
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 15;
}
.trailer-logo {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
    flex-direction: column;
    top: 25%;
    align-items: center;    /* 가로 중앙 정렬 */
    justify-content: center;
    pointer-events: none;
}
@media (min-width: 960px) {
    .trailer-logo {
        height: 460px;
        top: 115px;
    }
}
@media (min-width: 960px) {
    .trailer__title-loop {
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
    }
}
.trailer-btn { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}
@media (min-width: 960px) {
    .trailer-btn {
        margin: 511px 0 0;
        position: absolute;
        top: calc(15% + 280px); /* 로고 위치 + 로고 높이만큼 아래로 */
        left: 50%;
        transform: translateX(-50%);
        margin: 0; /* 기존 511px 제거 */
        z-index: 20;
    }
}
.trailer-btn>a {
    text-align: start;
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}
@media (min-width: 960px) {
    .trailer-btn>a {
        width: 243px;
        height: 76px;
        margin: 61px;
        position: relative;
        right: 0;
        bottom: 0;
    }
}
.a {
    color: inherit;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
.hidden {
    display: none;
    margin: 0;
}
.btn-image>style {
    background-image: url(https://fizz-download.playnccdn.com/download/v2/buckets/conti-upload/files/199286edbc2-86060202-0d3f-41e5-a04c-7cd4ae4bfd4a);
}
.bg-pc {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
@media (min-width: 960px) {
    .bg-pc {
        display: block;
    }
}
.trailer-btn > a:hover .bg-pc {
    filter: brightness(1.15); /* 마우스 올렸을 때 살짝 커짐 */
    transition: 0.3s;
}
.event {
    width: 100%;
    overflow: hidden;
    text-align: start;
    text-indent: -9999em;
    white-space: nowrap;
    font-size: 0;
}
@media (min-width: 960px) {
    .event { 
    top: 543px;
    height: auto;
    position: absolute;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0) !important;
    }
}
@media (min-width: 1260px) {
    .event {
        padding-right: 80px;
    }
}
@media (min-width: 768px) and (max-width: 1259px) {
    .event {
        padding-right: 35px;
    }
}
.event-list {
    position: relative;
    width: 100%;
    max-width: 1108px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}
@media (min-width: 1260px) {
    .event-list {
        max-width: 1118px;
        padding: 29px 76px 52px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) and (max-width: 1259px) {
    .event-list {
        max-width: 740px; /* 2개가 넉넉히 들어갈 사이즈로 제한 */
        padding: 20px 40px; /* 패딩을 살짝 줄임 */
        margin: 0 auto;
    }
}
.siwper-pointer-events {
    touch-action: pan-y;
}
.swiper {
    list-style: none;
    z-index: 20;
    display: block;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: flex-start !important;
    transition-property: transform;
    box-sizing: content-box;
}
@media (min-width: 960px) {
    .swiper-slide-active+.swiper-slide {
        opacity: 1;
        visibility: visible;
    }
}
@media (min-width: 960px) {
    .swiper-slide {
        transition: all .5s ease-in-out;
    }
}
.event__items {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .25);
    position: relative;
    margin: 0 6px;
}
@media (min-width: 960px) {
    .event__items {
        max-width: 336px;
        height: 348px;
        
    }
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.event__link {
    display: block;
    position: relative;
    height: 100%;
}
@media (min-width: 960px) {
    .event__link:hover img {
        transform: scale(110%) rotate(0.02deg);
    }
}
@media (min-width: 960px) {
    .event__link:before {
        background: url(../images/event-card-bg.png) no-repeat 0 0;
        background-size: 100% 100%;
    }
}
.event__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 25;
}
.event__category-wrap {
    position: absolute;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    top: 13px;
    left: 13px;
}
.event__category {
    color: #fff;
    width: auto;
    height: 30px;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 18px;
    background: rgba(0, 0, 0, .55);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event__thumb {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.event__thumb img {
    width: auto;
    height: 100%;
    transition: 1s transform;
}
@media (min-width: 960px) {
    [data-rwd-display=pc] {
        display: block;
    }
}
.event__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
    z-index: 25;
}
@media (min-width: 960px) {
    .event__title {
        height: 95px;
        font-size: 20px;
        line-height: 28px;
    }
}
.event__title span {
    /* ⬇️ 줄바꿈을 방해하는 요소 제거 및 수정 */
    display: block;        /* -webkit-box 대신 block 사용 */
    width: 100%;           /* 부모 너비를 다 쓰도록 */
    text-align: center;
    padding: 0 10px;
    word-break: keep-all;  
    overflow-wrap: break-word; 
    white-space: normal;   /* 강제로 한 줄 유지를 해제 */
    -webkit-box-orient: vertical;
    text-overflow: clip;   /* ellipsis 대신 clip을 써서 잘리는 느낌 방지 (선택) */
}
@media (min-width: 960px) {
    .event__title span {
        max-width: 296px;
        margin-top: 0;
        max-height: 56px;
        line-height: 1.4;
    }
}
.event__link:after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    pointer-events: none;
    z-index: 25;
}
@media (min-width: 960px) {
    .event__link:after {
        top: -17px;
        height: 94px;
        background: url(../images/event-card-fraim.png) no-repeat center top;
        background-size: auto 100%;
    }
}
.swiper-pagination {
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.38);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: 0.3s opacity;
    z-index: 25;
}
@media (min-width: 1260px) {
    .swiper-pagination {
        font-size: 15px;
        line-height: 38px;
        filter: none;
        bottom: 0px;
        margin-bottom: 295px;
        margin-left: 49%;
    }
}
@media (min-width: 768px) and (max-width: 1259px) {
    .swiper-pagination {
        font-size: 15px;
        line-height: 38px;
        filter: none;
        bottom: 0px;
        margin-bottom: 263px;
        margin-left: 48.8%;
    }
}
@media (min-width: 960px) {
    .swiper-pagination::before {
        display: block;
        width: 80px;
        height: 41px;
        content: "";
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;
        background: url(../images/페이지수_bg.png) no-repeat 0 0;
        background-size: 100% 100%;
    }
}
.swiper-pagination-current {
    color: #2065a6;
}
.swiper-button-disabled {
    opacity: .45 !important;
    pointer-events: none;
}
.swiper-button-prev {
    cursor: pointer;
    pointer-events: auto;
    right: auto;
    align-items: center;
    color: #007aff;
    position: absolute;
    display: flex;
    z-index: 999 !important;
    pointer-events: auto !important;
}
@media (min-width: 1260px) {
    .swiper-button-prev {
        margin-left: -595.5px;
        top: 170px;
        width: 70px;
        height: 70px;
        margin-top: 0;
        background-size: 100% 100%;
        left: 50%;
        z-index: 25;
    }
}
@media (min-width: 768px) and (max-width: 1259px) {
    .swiper-button-prev {
        margin-left: -415.5px;
        top: 170px;
        width: 70px;
        height: 70px;
        margin-top: 0;
        background-size: 100% 100%;
        left: 50%;
        z-index: 25;
    }
}
.swiper-button-prev::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
@media (min-width: 960px) {
    .swiper-button-prev::before {
        background-image: url(../images/페이지왼쪽으로넘기기.png);
        background-position: left center;
    }
}
.swiper-button-prev::after {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), 10%, transparent);
    box-shadow: -8px 8px 12px hsla(0, 0%, 100%, .8);
    transition: all .25s ease-out;
    opacity: 0;
    display: none !important;
}
@media (min-width:960px) {
    .swiper-button-prev::after {
        left: 40px;
        transform: translateY(-50%) rotate(45.81deg);
        content: "";
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
    }
}
.swiper-button-next {
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    z-index: 999 !important;
    pointer-events: auto !important;
    
}
@media (min-width:1260px) {
    .swiper-button-next {
        margin-right: -595.5px;
        top: 170px;
        width: 70px;
        height: 70px;
        margin-top: 0;
        background-size: 100% 100%;
        right: 50%;
    }
}
@media (min-width: 768px) and (max-width: 1259px) {
    .swiper-button-next {
        margin-right: -415.5px;
        top: 170px;
        width: 70px;
        height: 70px;
        margin-top: 0;
        background-size: 100% 100%;
        right: 50%;
    }
}
.swiper-button-next::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-size: 100% 100%
}
@media (min-width:960px) {
    .swiper-button-next::before {
            background-image: url(../images/페이지오른쪽으로넘기기.png);
        background-position: right center;
    }
}
.swiper-button-next::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), 10%, transparent);
    box-shadow: -8px 8px 12px hsla(0, 0%, 100%, .8);
    transition: all .25s ease-out;
    z-index: 25;
    opacity: 0;
    display: block !important;
}
@media (min-width: 960px) {
    .swiper-button-next:hover::after {
        right: 34px;
        opacity: .6;
    }
}
@media (min-width: 960px) {
    .swiper-button-next::after {
        right: 40px;
        transform: translateY(-50%) rotate(225.81deg);
    }
}
.swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 44px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}
/* 3. News Section */
.news-section {
    display: flex;
    padding: 100px 10%;
}
@media(min-width:960px) {
    .news-section {
        margin-top: -200px;
        height: 810px;
        background: url(../images/bg2.jpg) no-repeat 50% 0;
        background-size: 2560px auto;
    }
}
.section-title { 
    text-align: start;
    text-indent: -9999em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}
@media(min-width:960px) {
    .section-title {
        background-image: url(../images/아이온2소식.png) no-repeat 50% 0;
        background-size: auto 100%;
        height: 79px;
        margin: 115px 0 0;
    }
}
.news-container { 
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center; 
}
.news-card { 
    width: 300px; 
    height: 350px; 
    background-color: #111; 
    border: 1px solid #222; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.3s; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 20px; 
}
.news-card img { 
    width: 100%; 
    height: 70%; 
    object-fit: cover; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}
.news-card:hover { 
    border-color: var(--main-blue); 
    transform: translateY(-5px); 
}
.news-tabs { 
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    margin-top: 30px; 
}
.news-tabs span { 
    padding: 10px 20px; 
    background-color: #111; 
    border: 1px solid #222; 
    border-radius: 20px; 
    cursor: pointer; }
.news-tabs span.active { 
    background-color: var(--main-blue); 
    border-color: var(--main-blue); 
}

/* 4. Gameplay Section */
.gameplay-section { 
    padding: 100px 10%; 
    text-align: center; 
}
.gameplay-slider {
     position: relative; 
     width: 80%; 
     margin: 0 auto; 
     display: flex; 
     align-items: center; 
     justify-content: center; }
.prev-btn, .next-btn { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 24px; 
    background: none; 
    border: none; 
    color: #fff; 
    cursor: pointer; }
.prev-btn { 
    left: -50px; 
} .next-btn { 
    right: -50px; 
}
.slide-item img { 
    width: 100%; 
    object-fit: cover; 
    border: 1px solid #222; 
}
.slider-dots { 
    display: flex; 
    gap: 10px; 
    justify-content: center; 
    margin-top: 20px; 
}
.slider-dots span { 
    width: 10px; 
    height: 10px; 
    background-color: #333; 
    border-radius: 50%; 
    cursor: pointer;
}
.slider-dots span.active { 
    background-color: var(--main-blue); 
}

/* 5. Game Guide Section */
.guide-section { 
    padding: 100px 10%; 
}
.guide-cards { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}
.guide-card { 
    width: 300px; 
    height: 400px; 
    background-color: #111; 
    border: 1px solid #222; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: 0.3s; 
    opacity: 0.6; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    font-weight: bold;
}
.guide-card:hover { 
    border-color: var(--main-blue); 
    opacity: 0.8; 
}
.guide-card.central { 
    height: 450px; opacity: 1; 
    border-color: var(--main-blue); 
}

/* 6. Footer */
.footer { 
    padding: 60px 10%; 
    background-color: #010c22; 
    border-top: 1px solid #111; 
}
.footer-top { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 30px; 
}
.footer-links a { 
    margin-right: 20px; 
    text-decoration: none; 
    color: var(--text-gray); 
    font-size: 14px; }
.footer-links a:hover { 
    color: #fff; }
.footer-icons span { 
    margin-left: 20px; 
    color: var(--text-gray); 
    cursor: pointer;
}
.footer-icons span:hover { 
    color: #fff;
}
.footer-bottom { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.nc-logo { 
    font-size: 24px; 
    font-weight: 900; color: #fff;
}
.footer p { 
    color: #666; 
    font-size: 12px;
}